
/*for all documents*/
body{
    margin:0;
    padding:0;
    z-index: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   /* background-image: url('Images/p.jpg'); */

  /*background-color: rgb(61, 36, 7);*/


    transform: scale(1.0);
    transform-origin: 0 0;
    zoom: 70%;


}

li{
    text-decoration: none;
    list-style-type: none;
}

input[type="button"]{

    width: 100px;
    height: 50px;
    cursor: pointer;
}

button{
    width: 100px;
    height: 50px;
    cursor: pointer;
}

*{
    margin: 0;
}

*::-webkit-scrollbar{
    width: 10px;
}

*::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: rgba(36, 35, 34, 0.979);
    z-index: 5;
    position: absolute;
}

audio{
    display: none;
}


label{
    font-weight: bold;
}

/* Create service */
#createServiceMain{
    display: grid;
  
    margin: 0;
    padding: 10px;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    width: 98.5%;
    height: 25%;
    z-index: 0;
}

#otherServicePosition{
    display: none;
}

#otherCategoriesForm{
    display: none;
}
#pasabuyForm{
    display: none;
}
#regularServicesForm{
    display: none;
}

.ServicePopUp{
    display: grid;
    padding: auto;
    outline: auto;
    height: 900px;
    align-content: center;
    width: 100%;

    position: absolute;
    z-index: 5;

    background-color: white;
    border: 1px solid black;
    text-align: center;
}

.ServicePopUp input,select,label,textarea{
    width: 30%;
    margin: auto;
    margin-top: 0px;
    
}

/*Login form*/
#loginForm{
    text-align: center;
    outline:auto;
    width: 300px;
    height: 600px;
    padding: 10px;
    margin: auto;

}


/*Responder Home*/

#HomeContent{
    display: grid;
    outline: auto;
    margin: 0;
    padding: 10px;
    align-content: center;
    grid-template-columns: auto auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    width: 98.5%;
    grid-template-areas: "requestboard  services servicerequests";
    position:absolute;
    height: 100%;
}

.HomeContent_Button{
    outline: auto;
    height: 200px;
    width: auto;
    text-align: center;
    padding: auto;
    margin: 0;
   
    border-radius: 10px;
    cursor: pointer;
   
}

.HomeContent_Button:nth-child(1){
    grid-area: "requestboard";
    
}

.HomeContent_Button:nth-child(2){
    grid-area: "services";
}

.HomeContent_Button:nth-child(3){
    grid-area: "servicerequests";
}

/* Avail Services */

#AvailServiceNav{
    display: grid;
  
    margin: 0;
    padding: 10px;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr ;
    width: 98.5%;
    height: 25%;
}

.serviceCard-main{
    border:1px solid black;
    height: 200px;
    width: 50%;
    margin: 5px;
    cursor: pointer;
    overflow-wrap: break-word;
    overflow: hidden;
   
}

#AvailServiceContent{
    display: grid;
   
    padding: 10px;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 20px;

    width: 98.5%;
    height: auto;
}

.serviceCard{
    border: 1px solid black;
    height: fit-content;
    width: 70%;
    cursor: pointer;
    text-overflow: ellipsis;

}

#AvailServiceContent .serviceCard{
    width: 300px;
}


/*Select service*/
#AvailServiceForm{
    outline: auto;
    background-color: brown;
    width: 500px;
    height: 600px;
}

#AvailServiceFormContainer{
    outline: auto;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    display: none;
    z-index: 5;
    position:absolute;
}


#suggestedResponders{
    display: grid;
   
    padding: 10px;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 20px;

    width: 98.5%;
    height: auto;


}



#AllResponders{
    display: grid;
   
    padding: 10px;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 20px;

    width: 98.5%;
    height: auto;



}

.responderCard{
    border: 1px solid black;

    height: 250px;
    width: 200px;
    cursor: pointer;
    text-overflow: ellipsis;
    background-color: rgb(236, 236, 236);
    text-align: left;
    white-space: nowrap;
    display: grid;
    border-radius: 10px 10px 0px 0px;
    


}

.suggestedUserPhoto{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
    border: 1px solid black;
    background-color: gray;
    margin: 5px;
    
}
.viewProfile{
    padding: 5px;
    border: 1px solid black;
    width: 94%;
    color: white;
    background-color: rgb(58, 32, 3);
    float: left;
}

.viewProfile:hover{
    background-color: rgb(107, 60, 7);
}

.responderID{
    background-color: rgb(58, 32, 3);
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 5px;
    color: white;
}
.selectButton{
    float: right;
    padding: 5px;
    border: 1px solid black;
    color: white;
    background-color: rgb(190, 106, 10);
    width: 94%;
}

.selectButton:hover{
    background-color: rgb(238, 162, 75);
}






.availableResponderCard{
    border: 1px solid black;

    height: 250px;
    width: 200px;
    cursor: pointer;
    text-overflow: ellipsis;
    background-color: rgb(236, 236, 236);
    text-align: left;
    white-space: nowrap;
    display: grid;
    border-radius: 10px 10px 0px 0px;
    
}

.availableUserPhoto{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
    border: 1px solid black;
    background-color: gray;
    margin: 5px;
}

.availableResponderID{
    background-color: rgb(58, 32, 3);
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 5px;
    color: white;
}
.availableViewProfile{
    padding: 5px;
    border: 1px solid black;
    width: 94%;
    color: white;
    background-color: rgb(58, 32, 3);
    float: left;
}

.availableSelectButton{
    float: right;
    padding: 5px;
    border: 1px solid black;
    color: white;
    background-color: rgb(190, 106, 10);
    width: 94%;
}


.availableSelectButton:hover{
    background-color: rgb(238, 162, 75);
}


.availableViewProfile:hover{
    background-color: rgb(107, 60, 7);
}



#Responders{
    display: none;
   
    outline:auto;
    padding: 10px;
    grid-template-columns: auto auto;
    grid-row-gap: 20px;

    width: 50%;
    height: auto;
}

/*Pasabuy*/

#productCategories{    
    
    display: grid;
    grid-template-columns:repeat(10,1fr);
   
    padding: 10px;
   
    width: 98.5%;
    height: 100px;
    overflow-y: scroll;
    outline: auto;

    
}



#productCategories::-webkit-scrollbar{
    width: 2px;
    background-color: rgba(139, 134, 134, 0.192);
}

#productCategories ::-webkit-scrollbar-track {
    background-color: darkgrey;
}

.productCategory{
    width: 100px;
    height: 100px;
    outline: auto;
}



#products{

    display: grid;
   
    padding: 10px;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 20px;
    width: 98.5%;
    height: 100%;
 
}

.productPhoto{
    width: 200px;
    height: 150px;
    margin: 0;
    object-fit: contain;
    background-color: rgb(209, 181, 148);
}


.quantity{
    width: 50px;
}


.productCard{
    outline: auto;
    height: 100%;
    width: 200px;
    cursor: pointer;
    display: grid;
    align-items: center;
    text-overflow:ellipsis;
    
  
}

.productCard .selectButton{
    width: 200px;
}

.allResponderCard{
    border: 1px solid black;

    height: 250px;
    width: 200px;
    cursor: pointer;
    text-overflow: ellipsis;
    background-color: rgb(236, 236, 236);
    text-align: left;
    white-space: nowrap;
    display: grid;
    border-radius: 10px 10px 0px 0px;
}

#pasabuyResponders{
    display: none;
   
    padding-top: 0;
    outline: auto;
    height: 900px;
    align-content: center;
    width: 100%;

    position: absolute;
    z-index: 5;

    background-color: white;
    border: 1px solid black;
    text-align: center;
}



.allResponderID{

    background-color: rgb(58, 32, 3);
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 5px;
    color: white;
}

.allViewProfile{
    padding: 5px;
    border: 1px solid black;
    width: 94%;
    color: white;
    background-color: rgb(58, 32, 3);
    float: left;
}


/* Request Board */
#requestBoardNav{
    display: grid;
  
    margin: 0;
    padding: 10px;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 98.5%;
    height: 25%;

 
}

.bannerImage{
    height: 150px;
    width: 100%;
    object-fit: cover;
    background-image: url('Images/RequestBanners/others.jpg');
}

.serviceCard .bannerImage{
    height: 130px;
    width: 100%;
    object-fit: contain;
    
}


.requestCat-main{
    border:1px solid black;
    height: 200px;
    margin: 5px;
    cursor: pointer;
    overflow-wrap: break-word;
    overflow: hidden;

}

#categoryTitle{
    height: 100px;
    font-weight: bold;
}

.userPhotoPic{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
    border: 1px solid black;
    background-color: gray;
    margin: 5px;
}

.requestID{
    background-color: rgb(58, 32, 3);
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 5px;
    color: white;
}

#RequestsContainer{
    display: grid;
   
    padding: 10px;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 20px;

    width: 98.5%;
    
}

.createRequestButton{

    height: 50px;
    width: 20%;
    text-align: center;
    padding: auto;
    margin: 0;
    margin-top: 0;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(122, 58, 15);
    color: white;
    padding-top: 15px;
}

.createRequestButton:hover{
    background-color: rgb(196, 95, 28);

}

#requestCategories{
    display: grid;
   
    padding: 10px;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 20px;

    width: 98.5%;
    height: auto;
}
.bannerImage{

}

/*Create Request */
.requestForm{
    display: grid;
    padding: auto;
    padding-top: 0;
    outline: auto;
    height: 900px;
    align-content: center;
    width: 100%;

    position: absolute;
    z-index: 2;

    background-color: white;
    border: 1px solid black;
    text-align: center;
    
}


.requestForm input,select,label,textarea{
    width: 30%;
    margin: auto;
    margin-top: 0px;
    
}
#regularRequestForm{
    display: none;
}
#otherCategoriesRequestForm{
    display: none;
}
#pasabuyRequestForm{
    display: none;
}

#closeButton{
    position: absolute;
    left: 95%;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:xx-large;
    text-align: center;
    font-weight: bolder;
}

/*Request Board*/

.requestCard{
    border: 1px solid black;

    height: auto;
    width: 250px;
    cursor: pointer;
    text-overflow: ellipsis;
    background-color: rgb(236, 236, 236);
    text-align: left;
    white-space: nowrap;
    display: grid;
    border-radius: 10px 10px 0px 0px;
    padding: 2px;


    
}

.viewRequest{
    
    border: 1px solid black;
    text-align: center;
    width: 100px;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    font-weight: bold;
    background-color: rgb(66, 37, 12);
    color: white;
    
}

.viewRequest:hover{
    background-color: rgb(148, 82, 24);
    color: white;
    
}


.requestorID{
    display: none;
}

/* Public Profile */
#publicProfileContent{
    display: grid;
    outline: auto;
    width: 100%;
    background-color: white;
    height: 1000px;
    grid-template-areas: "profilepic primarydetails primarydetails primarydetails primarydetails primarydetails"
                         "otherpersonaldetails otherpersonaldetails otherpersonaldetails otherpersonaldetails otherpersonaldetails otherpersonaldetails"
                         "referencedetails referencedetails referencedetails referencedetails referencedetails referencedetails"
                         "servicedetails servicedetails servicedetails servicedetails servicedetails servicedetails";
}
#profilePic{
    outline: auto;
    width: 100%;
    grid-area: profilepic;
    align-content: center;
}

#userPrimaryDetails{
    grid-area: primarydetails;
    display: grid;
    outline: auto;
    width: 100%;
    background-color: white;
    height: 100%;
}

#userOtherDetails{
    grid-area: otherpersonaldetails;
    display: grid;
    outline: auto;
    width: 100%;
    background-color: white;
    height: 100%;
}

#userReferenceDetails{
    grid-area: referencedetails;
    display: grid;
    outline: auto;
    width: 100%;
    background-color: white;
    height: 100%;

}
#userServicesDetails{

    grid-area: servicedetails;
    display: grid;
    outline: auto;
    width: 100%;
    background-color: white;
    height: 100%;
}

#profileimage{
    width: 200px;
    height: 200px;
    object-fit: contain;
}


/* Messages */

/* Messages */
#messagesContent{   
    
    width: 750px;
    margin: auto;
    background-color: white;
    padding: 0;
    height: 700px;

    zoom:120%;
  
  

}

#messagesMain{
padding: 0;




}

#conversation{
 
    display: block;
    overflow: scroll;
    z-index: -3;
    height: 600px;
    border: 1px solid black;
    
}

#conversationHeader{
    outline: auto;
    grid-area: header;
    background-color: rgb(148, 92, 29);
    color: white;
    font-weight: bolder;
    font-size: large;
    height: 50px;
    text-align: center;
    z-index: 5;
}

#messageForm{
    
    display: grid;
    padding: 0;
    margin: 0;
    height: fit-content;

    
    align-content: center;
    grid-template-columns: 1fr 5fr 1fr;


    
    
}
#messageBody{
    width: 95%;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: rgb(210, 222, 233);
   
}

#messagesContent #send{
   
    background-image: url("Images/send.png");
    background-color: rgb(54, 33, 9);
    color: white;
    cursor: pointer;

    width: fit-content;
    border-radius: 10px;
    width: 80%;
    height: 100%;
}

#send{
   
    background-image: url("Images/send.png");
    background-color: rgb(54, 33, 9);
    color: white;
    cursor: pointer;

    width: fit-content;
    border-radius: 10px;

    height: 100%;
    padding: 10px;
}


#file{
    
    width: 100%;
    height: 100%;
    border:none;
    cursor: pointer;
}

#fileForm{
    display: none;
    outline: auto;
    background-color: white;
    width: 100%;
    height: 100%;
    grid-area: messageform;
    resize: none;
    z-index: 2;
    position: relative;
    align-content: center;
    padding: auto;
}


.inboxCard{
    border-bottom:1px solid black;
    height: 150px;
    width: auto;
    cursor: pointer;
    text-overflow: ellipsis;
    padding:5px;
}

.messageCard{
    padding: 10px;
    height: max-content;
    width: 40%;
    cursor: pointer;
    word-break: break-all;
    overflow-wrap: break-word;
    margin: 70px;
    

}

.messageContainer{
    width: 100%;
    
}


#searchDiv{
    height: 100%;

    display: grid;
    grid-template-areas: "Chats space space space"
                         "searchbox searchbox searchButton createNewMessage";

    align-content: center;
    z-index: 5;
    margin: 0;
}





/*verify email address*/
#modalBackground{
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    padding: auto;
    display: none;
}
#modal{
    position: relative;
    z-index: 5;
    width: 50%;
    height: 50%;
    border: 1px solid black;
    background-color: rgb(214, 165, 108);
    margin: 200px;
}

#emailCode{
    background-color: white;
    width: 50%;
}
#codeErrorMessage{
    font-weight: bolder;
    color: red;
}


/*request info */
#requestInfoContent{
    display: grid;
    outline: auto;
    width: 100%;
    height: 1000px;
    grid-template-areas: "requestinfo requestinfo message"
                         "requestinfo requestinfo message"
                         "requestinfo requestinfo ratings"
                         "requestinfo requestinfo rating";


}

#messageMe{

    grid-area: message;
    outline: auto;
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    

}

#requestorImageContainer{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    outline: auto;
}

#requestorProfile{
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

#requestInfoMessageBody{
    resize: none;
}

#requestNotes{
    width: 100%;
    
    
}

#requestInfoMain{
    grid-area: requestinfo;
    outline: auto;
    width: 100%;
    height: 100%;
    font-size: larger;
    display: block;
    padding: 5;
}

#formBackground{
    width:100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(2px);
    display: none;
    
}

/* My Services */
#myServicesNav{
    display: grid;
    width: 100%;

    height: 100px;
    align-content: center;
    padding: auto;
    
}

#MyServicesButton{
    width: 200px;
    outline: auto;
    height: 100px;
    text-align: center;
}

#MyProducts{
 
}

#myServicesContent{
    display: grid;
   
    
    height: 100%;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 10px;


    

}

.myServiceCard{
    border:1px solid black;
    height: 200px;
    margin: 5px;
    cursor: pointer;
    overflow-wrap: break-word;
    overflow: hidden;
    width: 500px;
    padding: 5px;


}

.certificateImage{
    width: 100px;
    height: 100px;
    
}

.delist{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
   

}

.update{
    width: 100%;
    height: 30px;
    
}

#updateFormBackground{
    width:100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(2px);
    display: none;
    
}

#updateService{
    background-color:brown;
    width: 300px;
    height: 200px;
}


/*Pasabuy form - avail service*/

#pasabuyFormContainer{
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(2px);
    display: none;
}


/* For myRequests */
.myRequestCard{
    border: 1px solid black;
    text-align: center;
}
.myRequestCard td{
    height: 100px;
    width: 200px;
    border: 1px solid black;
}

.requestsHeader{
    height: 100px;
    width: 200px;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
}

.requestDescription{
    overflow: hidden;
    

}


/*Requests-Orders page */
#orderRequestsNav{
   
   display: grid;
  
   height: fit-content;
   
}

.orderRequestsButton{
    display: inline-block;
    border: 1px solid black;
    padding: 20px;
    margin:10px;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(65, 32, 13);
    color:white;
}

.orderRequestsButton:hover{
    background-color: rgb(167, 92, 49);
    color:white;
}

#RequestOrdersTitle{
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
    background-color: brown;
    color: white;

    padding:10px;
    width: 500px;
    font-size:50px;
}

#orderServiceButton{
    display: inline-block;
    outline: auto;
    padding: 5px;
    border-radius: 10px;
    margin: 50px;
    cursor: pointer;
}

.requestsOrdersHearder td{
    border: 1px solid black;
   
}

.serviceOrderRow{
    border: 1px solid black;
}

.serviceOrderRow td{
   
    width: 100%;

   
}

.serviceInfoRow td{
    border: 1px solid black;
}
.serviceOrderContainer{
    border: 1px solid black;
    margin: 100px;
    width: 500px;
    padding: 10px;

    
}

.serviceInfoRow{
    display: none;
}

/*Applied requests */
.requestContainer{
    border: 1px solid black;
    margin: 100px;
    width: 500px;
    padding: 10px;

}

.requestRow{
    text-overflow: clip;
    word-wrap: break-word;
}

.requestRow td{
    text-overflow: clip;
    word-wrap: break-word;
    
    width: 100%;
}

/*Conversations */


#conversationsContent{
    border: 1px solid black;

    width: 350px;
    box-shadow: 5px 5px 20px 0px black;
    margin: auto;
    height: 700px;
    overflow:scroll;

    zoom:120%;

    
}

#conversationsList{
   
    height: 700px;
    overflow:auto;
   
   
}



#conversationSearch{
    border: 3px solid rgb(70, 28, 9);
    height: 40px;
    width: 250px;
    margin: auto;
   
}




#conversationSearchButton{
    border: 3px solid rgb(70, 28, 9);
    height: 40px;
    width: 40px;
    margin:0;
    cursor: pointer;
}

#conversationCreateNewMessage{
    border: 3px solid rgb(70, 28, 9);
    height: 40px;
    width: 40px;
    margin:0;
    cursor: pointer;
}

.inboxCard td{
    
  
    padding: 2px;
}

.lastMessageDiv{
    
    width: 100px;
    padding:0;

}

.lastMessageP{
    border-radius: 0px 40px 40px 40px;
    padding: 5px;
    overflow: hidden;
    text-align: justify;
    background-color: rgba(214, 230, 248, 0.884);
    width: 200px;
    height: 70px;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}

.inboxCard{
    border-bottom:1px solid black;
    height: 150px;
    width: auto;
    cursor: pointer;
    text-overflow: ellipsis;
    padding:5px;
    
}

.newMessageTag{
    background-color: blue;
    color: white;
}

.messageUserPhoto{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 2px solid black;
    object-fit: cover;
    margin-top: 0;
    
}

.setConversation{
    text-decoration: none;
    color:black;
}

#conversationSearchDiv{
    z-index: 5;
    position: sticky;
    top:0;
    background-color: white;
}


/*my services modal */
#activateDelistFormBackground{
    width:100%;
    height: 100%;
    position: fixed;
    backdrop-filter: blur(2px);
    display: none;
   
}

#activateDelistForm{
    background-color: rgb(129, 70, 30);
    height: 200px;
    width: 500px;
    padding: 5px;
}

#certificateViewBackground{
    width:100%;
    height: 100%;
    position: fixed;
    backdrop-filter: blur(2px);
    display: none;
    background-color: rgb(68, 66, 66);
} 
