
/*for all documents*/
body{
    margin:0;
    padding:0;
    z-index: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}




*{
    margin: 0;
}

*::-webkit-scrollbar{
    width: 10px;
}

*::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: rgba(36, 35, 34, 0.979);
    z-index: 5;
    position: absolute;
}

/*
textarea{

    height: 100px;
    resize: none;
}
*/

label{
    font-weight: bold;
}

/* Create service */
#createServiceMain{
    display: grid;
  
    margin: 0;
    padding: 10px;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    width: 98.5%;
    height: 25%;
    z-index: 0;
}

#otherServicePosition{
    display: none;
}

#otherCategoriesForm{
    display: none;
}
#pasabuyForm{
    display: none;
}
#regularServicesForm{
    display: none;
}

.ServicePopUp{
    display: grid;
    padding: auto;
    outline: auto;
    height: 900px;
    align-content: center;
    width: 100%;

    position: absolute;
    z-index: 5;

    background-color: white;
    border: 1px solid black;
    text-align: center;
}

.ServicePopUp input,select,label,textarea{
    width: 30%;
    margin: auto;
    margin-top: 0px;
    
}

/*Login form*/
#loginForm{
    text-align: center;
    outline:auto;
    width: 300px;
    height: 600px;
    padding: 10px;
    margin: auto;

}


/*Responder Home*/

#HomeContent{
    display: grid;
    outline: auto;
    margin: 0;
    padding: 10px;
    align-content: center;
    grid-template-columns: auto auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    width: 98.5%;
    grid-template-areas: "requestboard  services servicerequests";
    position:absolute;
    height: 100%;
}

.HomeContent_Button{
    outline: auto;
    height: 200px;
    width: auto;
    text-align: center;
    padding: auto;
    margin: 0;
   
    border-radius: 10px;
    cursor: pointer;
   
}

.HomeContent_Button:nth-child(1){
    grid-area: "requestboard";
    
}

.HomeContent_Button:nth-child(2){
    grid-area: "services";
}

.HomeContent_Button:nth-child(3){
    grid-area: "servicerequests";
}

/* Avail Services */

#AvailServiceNav{
    display: grid;
  
    margin: 0;
    padding: 10px;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr ;
    width: 98.5%;
    height: 25%;
}

.serviceCard-main{
    outline: auto;
    height: 150px;
    width: 50%;
    text-align: center;
    padding: auto;
    margin: 0;
    margin-top: 0;
    border-radius: 10px;
    cursor: pointer;
   
}

#AvailServiceContent{
    display: grid;
   
    padding: 10px;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 20px;

    width: 98.5%;
    height: auto;
}

.serviceCard{
    outline: auto;
    height: 150px;
    width: 70%;
    cursor: pointer;
    text-overflow: ellipsis;
}


/*Select service*/
#AvailServiceForm{
    outline: auto;
    display: none;
    width: fit-content;
}


#suggestedResponders{
    display: grid;
   
    padding: 10px;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 20px;

    width: 98.5%;
    height: auto;


}

#AllResponders{
    display: grid;
   
    padding: 10px;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 20px;

    width: 98.5%;
    height: auto;


}
.responderCard{
    outline: auto;
    height: 150px;
    width: 200px;
    cursor: pointer;
    text-overflow: ellipsis;
}

.availableResponderCard{
    outline: auto;
    height: 150px;
    width: 200px;
    cursor: pointer;
    text-overflow: ellipsis;
}

#Responders{
    display: none;
   
    outline:auto;
    padding: 10px;
    grid-template-columns: auto auto;
    grid-row-gap: 20px;

    width: 50%;
    height: auto;
}

/*Pasabuy*/

#productCategories{    
    
    display: grid;
    grid-template-columns:repeat(10,1fr);
   
    padding: 10px;
   
    width: 98.5%;
    height: 100px;
    overflow-y: scroll;
    outline: auto;

    
}



#productCategories::-webkit-scrollbar{
    width: 2px;
    background-color: rgba(139, 134, 134, 0.192);
}

#productCategories ::-webkit-scrollbar-track {
    background-color: darkgrey;
}

.productCategory{
    width: 100px;
    height: 100px;
    outline: auto;
}



#products{

    display: grid;
   
    padding: 10px;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 20px;
    width: 98.5%;
    height: 100%;
    outline: auto;
}

.productPhoto{
    width: 200px;
    height: 150px;
    margin: 0;
    object-fit: contain;
}


.quantity{
    width: 50px;
}

.productCard{
    outline: auto;
    height: fit-content;
    width: 200px;
    cursor: pointer;
    display: grid;
    align-items: center;
    text-overflow:ellipsis;
    
  
}

.allResponderCard{
    outline: auto;
    height: fit-content;
    width: 200px;
    cursor: pointer;
    display: grid;
   
    text-overflow:ellipsis;
}

#pasabuyResponders{
    display: none;
    padding: auto;
    padding-top: 0;
    outline: auto;
    height: 900px;
    align-content: center;
    width: 100%;

    position: absolute;
    z-index: 5;

    background-color: white;
    border: 1px solid black;
    text-align: center;
}



/* Request Board */
#requestBoardNav{
    display: grid;
  
    margin: 0;
    padding: 10px;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    width: 98.5%;
    height: 25%;

 
}

#RequestsContainer{
    display: grid;
    outline: auto;
    padding: 10px;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 20px;

    width: 98.5%;
    
}

.createRequestButton{
    outline: auto;
    height: 50px;
    width: 20%;
    text-align: center;
    padding: auto;
    margin: 0;
    margin-top: 0;
    border-radius: 10px;
    cursor: pointer;
}

#requestCategories{
    display: grid;
   
    padding: 10px;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 20px;

    width: 98.5%;
    height: auto;
}

/*Create Request */
.requestForm{
    display: grid;
    padding: auto;
    padding-top: 0;
    outline: auto;
    height: 900px;
    align-content: center;
    width: 100%;

    position: absolute;
    z-index: 2;

    background-color: white;
    border: 1px solid black;
    text-align: center;
    
}


.requestForm input,select,label,textarea{
    width: 30%;
    margin: auto;
    margin-top: 0px;
    
}
#regularRequestForm{
    display: none;
}
#otherCategoriesRequestForm{
    display: none;
}
#pasabuyRequestForm{
    display: none;
}

#closeButton{
    position: absolute;
    left: 95%;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:xx-large;
    text-align: center;
    font-weight: bolder;
}

/*Request Board*/

.requestCard{
    outline: auto;
    height: fit-content;
    width: 200px;
    cursor: pointer;
    display: grid;
    align-items: center;
    text-overflow:ellipsis;
}

/* Public Profile */
#publicProfileContent{
    display: grid;
    outline: auto;
    width: 100%;
    background-color: white;
    height: 1000px;
    grid-template-areas: "profilepic primarydetails primarydetails primarydetails primarydetails primarydetails"
                         "otherpersonaldetails otherpersonaldetails otherpersonaldetails otherpersonaldetails otherpersonaldetails otherpersonaldetails"
                         "referencedetails referencedetails referencedetails referencedetails referencedetails referencedetails"
                         "servicedetails servicedetails servicedetails servicedetails servicedetails servicedetails";
}
#profilePic{
    outline: auto;
    width: 100%;
    grid-area: profilepic;
    align-content: center;
}

#userPrimaryDetails{
    grid-area: primarydetails;
    display: grid;
    outline: auto;
    width: 100%;
    background-color: white;
    height: 100%;
}

#userOtherDetails{
    grid-area: otherpersonaldetails;
    display: grid;
    outline: auto;
    width: 100%;
    background-color: white;
    height: 100%;
}

#userReferenceDetails{
    grid-area: referencedetails;
    display: grid;
    outline: auto;
    width: 100%;
    background-color: white;
    height: 100%;

}
#userServicesDetails{

    grid-area: servicedetails;
    display: grid;
    outline: auto;
    width: 100%;
    background-color: white;
    height: 100%;
}

#profileimage{
    width: 200px;
    height: 200px;
    object-fit: contain;
}


/* Messages */
#messagesContent{   
    display: grid;
    outline: auto;
    width: 99.9%;
    background-color: white;
    padding: 0;
    height: 1200px;
    grid-template-areas: "inbox messagemain messagemain"
                         "inbox messagemain messagemain"
                         "inbox messagemain messagemain"
                         "inbox messagemain messagemain";
}
#inbox{
    outline: auto;
    grid-area: inbox;
}
#messagesMain{
    overflow: scroll;
    outline: auto;
    grid-area: messagemain; 
    
    display: grid;
    grid-template-areas: "conversation conversation"
                         "conversation conversation"
                         "conversation conversation"
                         "conversation conversation"
                         "messageform messageform";

}
#conversation{
    outline: auto;
    grid-area: conversation;
    display: block;
    overflow: scroll;
    z-index: 0;
    
}

#conversationHeader{
    outline: auto;
    grid-area: conversation;
    background-color: white;
}
#messageForm{
    outline: auto;
    display: grid;
    padding: 0;
    
    grid-area: messageform;
    align-content: center;
    grid-template-areas: "fill messagebody messagebody filler none"
                         "fill messagebody messagebody filler send"
                         "fill messagebody messagebody filler file";

}
#messageBody{
    width: 100%;
    height: 200px;
    grid-area: messagebody;
    resize: none;
}

#send{
    grid-area: send;
    width: 100px;
    
}

#file{
    grid-area: file;
    width: 100px;
}

#fileForm{
    display: none;
    outline: auto;
    background-color: white;
    width: 100%;
    height: 100%;
    grid-area: messageform;
    resize: none;
    z-index: 2;
    position: relative;
    align-content: center;
    padding: auto;
}


.inboxCard{
    outline: auto;
    height: 150px;
    width: 100%;
    cursor: pointer;
    text-overflow: ellipsis;
}

.messageCard{
    padding: 10px;
    height: max-content;
    width: 40%;
    cursor: pointer;
    word-break: break-all;
    overflow-wrap: break-word;
    margin: 100px;

}

.messageContainer{
    width: 100%;
    
}

/*verify email address*/
#modalBackground{
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    padding: auto;
    display: none;
}
#modal{
    position: relative;
    z-index: 5;
    width: 50%;
    height: 50%;
    border: 1px solid black;
    background-color: rgb(214, 165, 108);
    margin: 200px;
}

#emailCode{
    background-color: white;
    width: 50%;
}
#codeErrorMessage{
    font-weight: bolder;
    color: red;
}


/*request info */
#requestInfoContent{
    display: grid;
    outline: auto;
    width: 100%;
    height: 1000px;
    grid-template-areas: "requestinfo requestinfo message"
                         "requestinfo requestinfo message"
                         "requestinfo requestinfo ratings"
                         "requestinfo requestinfo rating";


}

#messageMe{

    grid-area: message;
    outline: auto;
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    

}

#requestorImageContainer{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    outline: auto;
}

#requestorProfile{
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

#requestInfoMessageBody{
    resize: none;
}

#requestNotes{
    width: 100%;
    
    
}

#requestInfoMain{
    grid-area: requestinfo;
    outline: auto;
    width: 100%;
    height: 100%;
    font-size: larger;
    display: block;
    padding: 5;
}